name: Build and deploy Quarto page

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - uses: quarto-dev/quarto-actions/setup@v2

    - uses: r-lib/actions/setup-r@v2
      with:
        use-public-rspm: true

    - uses: r-lib/actions/setup-r-dependencies@v2
      with:
        packages: |
          tidyverse
          gh
          rmarkdown
          jsonlite
          gt

    - uses: r-lib/actions/setup-pandoc@v2

    - name: Publish to GitHub Pages (and render)
      if: github.event_name != 'pull_request'
      uses: quarto-dev/quarto-actions/publish@v2
      with:
        target: gh-pages
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}